{% extends "template.html" %}

{% block content %}

<form class="row g-3 mx-auto" method="post" style="max-width: 500px;" onsubmit="servicesPost()">
    {% if employe %}
        <!-- <div class="col-12 text-center">
            <h1>Modifier {{employe[0]}}</h1>
        </div>
        <div class="col-md-12 form-floating">
            <input type="text" class="form-control" name="nom" id="floatingInputGrid" placeholder="Plozevet" value="{{ employe[1] }}" required>
            <label for="floatingInputGrid">Service</label>
        </div> -->
        <div class="col-12 text-center">
            <h3>Modifier l'employé {{employe[0]}}</h3>
        </div>
        {% with message = get_flashed_messages() %}
            {% if message %}
                <div class="col-12 text-center alert alert-danger" role="alert">
                    {{ message[0] }}
                </div>
            {% endif %}
        {% endwith %}
        <div class="col-md-6 form-floating">
            <input type="text" class="form-control" name="nom" id="floatingInputGrid" placeholder="Michelle" value="{{ employe[2] }}" required>
            <label for="floatingInputGrid">Nom</label>
        </div>
        <div class="col-md-6 form-floating">
            <input type="text" class="form-control" name="prenom" id="floatingInputGrid" placeholder="Jean" value="{{ employe[3] }}" required>
            <label for="floatingInputGrid">Prénom</label>
        </div>
        <div class="col-md-12">
            <div class='input-group' style="height: 3.5em;" id='viewMode' data-td-target-input='nearest' data-td-target-toggle='nearest'>
                <input id='viewModeInput' name="ddn" type='text' class='form-control' data-td-target='#viewMode' value="{{ employe[4] }}"/>
                <span class='input-group-text' data-td-target='#viewMode' data-td-toggle='datetimepicker'>
                    <span class='fa-solid fa-calendar'></span>
                </span>
            </div>
        </div>
        <div class="col-md-12 form-floating">
            <input type="text" class="form-control" name="adresse" id="floatingInputGrid" placeholder="23/09/2020" value="{{ employe[5] }}" required>
            <label for="floatingInputGrid">Adresse</label>
        </div>
        <div>
            <div class="col-md-12 form-control px-0">
                <select class="selectpicker show-tick col-md-12" name="communeId" title="Choisir une commune" data-style="btn-white" data-live-search="true">
                    {% for commune in communes %}
                        {% if commune[0] == employe[1] %}
                            <option value="{{ commune[0] }}" selected>{{ commune[1] }}</option>
                        {% else %}
                            <option value="{{ commune[0] }}">{{ commune[1] }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div>
            <div class="col-md-12 form-control px-0">
                <select class="selectpicker col-md-12" id="services" title="Choisir un ou plusieurs service" data-style="btn-white" data-live-search="true" data-actions-box="true" multiple>
                    {% for service in services %}
                        {% if service[0] in employe[6] %}
                            <option value="{{ service[0] }}" selected>{{ service[1] }}</option>
                        {% else %}
                            <option value="{{ service[0] }}">{{ service[1] }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <input type="hidden" name="serviceIds" id="services_hidden">
        <div class="col-12 text-center">
            <button class="btn btn-primary" type="submit">Sauvegarder</button>
        </div>
    {% else %}
        <div class="col-12 text-center">
            <h1>Nouveau employé</h1>
        </div>
        {% with message = get_flashed_messages() %}
            {% if message %}
                <div class="col-12 text-center alert alert-danger" role="alert">
                    {{ message[0] }}
                </div>
            {% endif %}
        {% endwith %}
        <div class="col-md-6 form-floating">
            <input type="text" class="form-control" name="nom" id="floatingInputGrid" placeholder="Michelle" required>
            <label for="floatingInputGrid">Nom</label>
        </div>
        <div class="col-md-6 form-floating">
            <input type="text" class="form-control" name="prenom" id="floatingInputGrid" placeholder="Jean" required>
            <label for="floatingInputGrid">Prénom</label>
        </div>
        <div class="col-md-12">
            <div class='input-group' style="height: 3.5em;" id='viewMode' data-td-target-input='nearest' data-td-target-toggle='nearest'>
                <input id='viewModeInput' name="ddn" type='text' class='form-control' data-td-target='#viewMode'/>
                <span class='input-group-text' data-td-target='#viewMode' data-td-toggle='datetimepicker'>
                    <span class='fa-solid fa-calendar'></span>
                </span>
            </div>
        </div>
        <div class="col-md-12 form-floating">
            <input type="text" class="form-control" name="adresse" id="floatingInputGrid" placeholder="23/09/2020" required>
            <label for="floatingInputGrid">Adresse</label>
        </div>
        <div>
            <div class="col-md-12 form-control px-0">
                <select class="selectpicker show-tick col-md-12" name="communeId" title="Choisir une commune" data-style="btn-white" data-live-search="true">
                    {% for commune in communes %}
                        <option value="{{ commune[0] }}">{{ commune[1] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div>
            <div class="col-md-12 form-control px-0 service">
                <select class="selectpicker col-md-12" id="services" title="Choisir un ou plusieurs service" data-style="btn-white" data-live-search="true" data-actions-box="true" multiple multiple="multiple">
                    {% for service in services %}
                        <option value="{{ service[0] }}">{{ service[1] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <input type="hidden" name="serviceIds" id="services_hidden">
        <div class="col-12 text-center">
            <button class="btn btn-primary" type="submit">Ajouter</button>
        </div>
    {% endif %}
</form>

<script>
    new tempusDominus.TempusDominus(document.getElementById('viewMode'), {
        display: {
            components: {
                clock: "False"
            },
            viewMode: 'months'
        }
    });

    const servicesPost = () => {
    	let serviceIds = $('#services').val();
    	$('#services_hidden').val(serviceIds);
    }
</script>

{% endblock %}